<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <div class="container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li class="active"><a href="#/contact">Contact</a></li>
      </ul>
      <h3 class="muted">Clogged</h3>
    </div>

	<form>
	  <fieldset>
	    <legend>Insert City</legend>
	    <input type="text" placeholder="Name">
	    <input type="text" placeholder="Population">	    
	    <input type="text" placeholder="Sate">	    
	    <input type="text" placeholder="Location"><br/>
	    <button type="submit" class="btn">Submit</button>
	  </fieldset>
	</form>

    <hr>
    <!-- MAIN CONTENT -->
    Search: <input ng-model="query">
    <table class="table table-striped table-condensed">
    	<tr>
    		<th>Name</th>
    		<th>Population</th>
    		<th>State</th>
    		<th>Location</th>
    		<th>ID</th>
    	</tr>
		<tr ng-repeat="city in cities | orderBy:ordered:true | limitTo:size | filter:query" >
			<td>{{city.name}}</td>
			<td>{{city.pop}}</td>
			<td>{{city.state}}</td>
			<td>{{city.loc}}</td>
			<td>{{city._id}}</td>							
		</tr>
	</table>

    <hr>

    


    <!-- /MAIN CONTENT -->
      <div class="footer">
        <p>&copy; Clogged 2013</p>
      </div>

  </div>
